.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border{
  height: 100px;
  width:500px;
}

.a{
  display: flex;
  gap: 20px;
  color: grey;

}
.pDown{
  padding-top: 172px;

}
 
.heightCard{
  height: 290px!important;
}

.heightCards{
  height: 350px!important; 
}

.heightCardss{
  height: 580px !important;
}

.widthcard{
  width: 320px !important;
}
.img{

    height: 100px;
    width: 100px;
    border-radius: 10px;
   
}
.img1{
  height: 100px;
  width: 100px;
}
.image{
  margin-left: 120px;
  margin-top: -330px;

}
.butt{
  margin-top: -66px;
}